<div class="px-10">
  <h1 class="text-lg font-bold">About</h1>
  <p class="text-sm">¡Bienvenidos a Manu Store! Somos una tienda de moda apasionada por ofrecer ropa bonita y a la última tendencia. En Manu Store, creemos que la moda debe ser accesible para todos, sin comprometer la calidad ni el estilo. Por eso, seleccionamos cuidadosamente cada prenda para que puedas encontrar ropa que te haga sentir bien y a la moda en cualquier ocasión.
  <br>
  <br>Nuestro objetivo es brindarte una experiencia de compra fácil, agradable y satisfactoria. ¡Explora nuestra colección y encuentra tus nuevas prendas favoritas! <span highlight>Gracias por elegir Manu Store, donde la moda y la belleza se encuentran en cada pieza.</span></p>
  <!-- <p class="text-sm">Número de clientes  <app-counter [duration]="duration()" [message]="message()" *ngIf="duration() < 0"/></p> -->
  <div class="py-10">
    <app-wave-audio  audioUrl="assets/audio.mp3"/>
  </div>
</div>

